# TODO make authentication environment variables
twitter:
  consumer_key: ''
  consumer_secret: ''
  oauth_token: ''
  oauth_token_secret: ''

github:
  token: ''

nero:
  update-interval: '5s'
  images:
    - name: Sample
      url: http://...jpg
    - name: Sample 2
      url: https://...png

projects:
    - repo: osuosl/fenestra
      branch: master

jenkins:
  url: ''
  user: ''
  password: ''

timesync:
  url: ''
  user: ''
  password: ''
  time_length:

dimensions:
  width: 1920
  height: 1080
