// TODO make authentication environment variables
twitter:
  consumer_key: ''
  consumer_secret: ''
  oauth_token: ''
  oauth_token_secret: ''

github:
  client_id: ''
  client_secret: ''
  token: ''

nero:
  update-interval: '5s'
  images:
    - name: Sample
      url: http://...jpg
    - name: Sample 2
      url: https://...png

projects:
    - repo: osuosl/fenestra
      branch: master
