#languages {
  background: #12B0C5;
}

#languages .wrapper {
  margin-top: 60px;
}

#languages .wrapper .title {
  font-weight: bold;
  font-size: 1.8em;
}

#languages .wrapper #graph {
  margin-top: 25px;
}
