.green{
    background-color:#86D751;}

.yellow{
    background-color: #EDDE43;}
.red{
    background-color: #E3394F;}

.label {
    text-align: center;
    padding: 5px;
}

.commit_data{
    color: #fff;
}

#jenkins-canvas{
    width: 280px;
    height: 150px;
}

