// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 1.0);
$label-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
#timesync {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-weight: bold;
    line-height: 1.8em;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .label {
    line-height: 1.6em;
    color: $label-color;
  }
}
