<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster" ng-controller="EventCtrl">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div ng-controller="TweetCtrl">
        <comment-carousel comments="comments" style="background-color:#ff9618;">
        </comment-carousel>
      </div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>